<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>报告产生于 2019-01-29 14:16</title>
</head>
<body>
<pre>
<b>#  压缩文件 G:\vue\backgroud-html\src\views\hwin\hwin.rar</b>
2019-01-29 12:05         21054          3871  notice-management\marquee_list.vue
2019-01-29 12:05         21054          3871  notice-management\message_list.vue
2019-01-29 12:05         21054          3871  notice-management\notice_list.vue
2019-01-29 12:05         21054          3871  notice-management\push_list.vue
2019-01-29 12:05         21054          3871  play-management\betlimit_list.vue
2019-01-29 12:05         21054          3871  play-management\lotteryrisk_list.vue
2019-01-29 12:05         21054          3871  play-management\pgame_list.vue
2019-01-29 12:05         21054          3871  play-management\proxygames_list.vue
2019-01-29 12:05         21054          3871  report-management\finance_index.vue
2019-01-29 12:05         21054          3871  report-management\operation_profit.vue
2019-01-29 12:05         21054          3871  report-management\pgame_playlist.vue
2019-01-29 12:05         21054          3871  report-management\preport_profit.vue
2019-01-29 12:05         21054          3871  report-management\user_report.vue
2019-01-29 12:05         21054          3871  site-management\floatwindowconfig_list.vue
2019-01-29 12:05         21054          3871  site-management\information_companylist.vue
2019-01-29 12:05         21054          3871  site-management\information_list.vue
2019-01-29 12:05         21054          3871  site-management\lotterygroup_sort.vue
2019-01-29 12:05         21054          3871  site-management\proxyiptables_blackcontainlist.vue
2019-01-29 12:05         21054          3871  site-management\qrconfig_list.vue
2019-01-29 12:05         21054          3871  site-management\rotationconfig_list.vue
2019-01-29 12:05         21054          3871  site-management\systemconfig_imagelist.vue
2019-01-29 12:05         21054          3871  site-management\systemconfig_set.vue
2019-01-29 12:05         21054          3871  user-management\user_infolist.vue
2019-01-29 12:05         21054          3871  user-management\user_inoutcash.vue
2019-01-29 12:05         21054          3871  user-management\user_mainlist.vue
2019-01-29 12:05         21054          3871  user-management\user_monitor.vue
2019-01-29 12:05         21054          3871  user-management\user_reviewlist.vue
2019-01-29 12:05         21054          3871  user-management\user_usercard.vue
2019-01-29 12:05         21054          3871  user-management\user_userlayer.vue
2019-01-29 12:05         21054          3871  user-management\user_validuser.vue
2019-01-29 12:05         21054          3871  delegate-management\proxycommission_list.vue
2019-01-29 12:05         21054          3871  delegate-management\proxycommission_proxylist.vue
2019-01-29 12:05         21054          3871  event-management\activity_list.vue
2019-01-29 12:05         21054          3871  fund-management\cash_orderlist.vue
2019-01-29 12:05         21054          3871  fund-management\cash_paysetting.vue
2019-01-29 12:05         21054          3871  fund-management\cash_rakeback.vue
2019-01-29 12:05         21054          3871  fund-management\cash_withdrawlist.vue
2019-01-29 12:05         21054          3871  fund-management\companymoney_list.vue
2019-01-29 12:05         21054          3871  fund-management\fastpaymoney_list.vue
2019-01-29 12:05         21054          3871  fund-management\layerchart_index.vue
2019-01-29 12:05         21054          3871  fund-management\manualpayconfirm_list.vue
2019-01-29 12:05         21054          3871  fund-management\manualpay_save.vue
2019-01-29 12:05         21054          3871  fund-management\payaccount_list.vue
2019-01-29 12:05         21054          3871  fund-management\paygroup_list.vue
2019-01-29 12:05         21054          3871  fund-management\transferorder_list.vue
2019-01-29 12:05         21054          3871  fund-management\tripartite_list.vue
2019-01-29 12:05         21054          3871  fund-management\userbetscheck_list.vue
2019-01-29 12:05         21054          3871  log-management\log_adminlog.vue
2019-01-29 12:05         21054          3871  log-management\log_domainlog.vue
2019-01-29 12:05         21054          3871  log-management\log_loginlog.vue
2019-01-29 12:05         21054          3871  merchant-management\information_list.vue
2019-01-29 12:05         21054          3871  merchant-management\proxy_memberlist.vue
2019-01-29 14:15           文件夹           文件夹  notice-management
2019-01-29 14:15           文件夹           文件夹  play-management
2019-01-29 14:16           文件夹           文件夹  report-management
2019-01-29 13:47           文件夹           文件夹  site-management
2019-01-29 14:00           文件夹           文件夹  user-management
2019-01-29 14:12           文件夹           文件夹  delegate-management
2019-01-29 14:13           文件夹           文件夹  event-management
2019-01-29 14:14           文件夹           文件夹  fund-management
2019-01-29 14:12           文件夹           文件夹  log-management
2019-01-29 13:57           文件夹           文件夹  merchant-management
<b>#
# 总计                        大小         压缩后大小  文件数
#                      1094808        201292  62
</b></pre>
</body>
</html>
